* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#wrap {
  min-height: 100%;
  overflow: hidden;
}

.below {
  display: block;
  position: relative;
  min-height: 100%;
  border-top: 2px solid #222;
  line-height: 20px;
  background-color: #2C2C2C;
  color: #eee;
  text-shadow: 1px 1px 0 #000;
  z-index: 2;
}

.below-inner {
  positon: relative;
  margin: 0 auto;
  padding: 18px 0 20px;
  width: 780px;
  text-align: left;
  z-index: 2;
}

.bg-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  botton: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.bgvideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

.body {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-family: "Noto Serif", serif;
}

.header {
  position: relative;
  z-index: 1;
}

.header:after {
  content: "";
  width: 460px;
  height: 15px;
  display: inline-block;
  text-align: center;
  background-size: 70%;
}

.footer-cc {
  position: relative;
  z-index: 2;
}

@font-face {
  font-family: "Chalk";
  src: url("assets/font/chalkstick-webfont.woff");
}
h1 {
  font-family: cursive;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  filter: url(#chalk);
}

.title {
  position: relative;
  z-index: 2;
}

.nowplaying {
  position: relative;
  line-height: 1;
  color: #000;
  text-shadow: 0 0 5rem #ecde8c;
  transition: all 0.07s ease;
  min-height: 110px;
  z-index: 2;
  font-family: cursive;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
  filter: url(#chalk);
}

.playing {
  transform: scale(0.95);
  border-color: #028ae9;
  box-shadow: 0 0 1rem #028ae9;
}

.piano {
  position: relative;
  margin: 0 auto;
  padding: 50px 30px 10px;
  width: 800px;
  background-color: gray;
  border-radius: 20px;
  z-index: 2;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.keys {
  display: block;
  width: 100%;
  height: 350px;
  position: relative;
  margin: 40px auto 0;
  cursor: none;
}

.key {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 1;
  float: left;
  width: 14.2%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.key-83 {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  float: left;
  width: 14.2%;
  height: 100%;
  background-color: red;
}

.key-68 {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  float: left;
  width: 14.2%;
  height: 100%;
  background-color: orange;
}

.key-70 {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  float: left;
  width: 14.2%;
  height: 100%;
  background-color: yellow;
}

.key-71 {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  float: left;
  width: 14.2%;
  height: 100%;
  background-color: green;
}

.key-72 {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  float: left;
  width: 14.2%;
  height: 100%;
  background-color: blue;
}

.key-74 {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  float: left;
  width: 14.2%;
  height: 100%;
  background-color: indigo;
}

.key-75 {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  float: left;
  width: 14.2%;
  height: 100%;
  background-color: violet;
}

.hints {
  display: block;
  width: 100%;
  opacity: 1;
  position: absolute;
  bottom: 7px;
  transition: opacity 0.3s ease-out;
  font-size: 20px;
  text-align: center;
  background-color: #F0F3F4;
}

.hints1 {
  display: block;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 7px;
  transition: opacity 0.3s ease-out;
  font-size: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.keys:hover .hints1 {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
